:root {
  --font-color: #ef3a3a;
  --primary-light: #8abdff;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;

  --box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
    -0.2rem -0.2rem 1.8rem var(--white);
  --inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--greyLight-1);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

audio {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--greyLight-1);
  padding: 75px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.main-content {
  display: flex;
}

.main-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--greyLight-1);
  border-radius: 100%;
  box-shadow: var(--box-shadow);
  height: 200px;
  width: 200px;
  margin: 75px;
  z-index: 3;
  font-size: 4rem;
  text-align: center;
}

.result {
  z-index: 101;
}

.wave1 {
  position: absolute;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  filter: blur(1px);
  z-index: 2;
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2),
    -0.4rem -0.4rem 0.8rem var(--white);
  background: linear-gradient(
    to bottom right,
    var(--greyLight-2) 0%,
    var(--white) 100%
  );
  animation: waves 4s linear infinite;
  animation-play-state: running;
}

.wave2 {
  position: absolute;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  filter: blur(1px);
  z-index: 2;
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2),
    -0.4rem -0.4rem 0.8rem var(--white);
  animation: waves 4s linear 2s infinite;
}

.wave1.active,
.wave2.active {
  animation-play-state: paused;
}

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

h1 {
  text-align: center;
  font-size: 2.7rem;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 215px;
  font-size: 3rem;
}

.setting-info {
  margin-bottom: 25px;
}

.settings-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-inputs input[type="number"] {
  background: var(--greyLight-1);
  color: var(--font-color);
  box-shadow: var(--box-shadow);
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  font-size: 4rem;
}

input[type="number"]:focus {
  outline: var(--font-color) solid 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  color: var(--font-color);
  opacity: 1;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  width: 140px;
  height: 140px;
  padding: 50px;
  font-size: 3rem;
  font-weight: bold;
  background-color: transparent;
  box-shadow: var(--box-shadow);
  border-radius: 100%;
  cursor: pointer;
}

.start-button.shadow {
  box-shadow: var(--inner-shadow);
}
