:root {
  --font-color: #5b0eeb;
  --background-color: rgb(37, 37, 37);
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --linear-primary: linear-gradient(var(--primary), var(--primary-dark));
  --box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
    -0.2rem -0.2rem 1.8rem var(--white);

  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--greyLight-1);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--greyLight-1);
  padding: 75px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--greyLight-1);
  border: 10px solid var(--primary);
  border-radius: 100%;
  box-shadow: var(--box-shadow);
  height: 200px;
  width: 200px;
  z-index: 101;
  font-size: 4rem;
  text-align: center;
}

.result {
  z-index: 101;
}

.wave1 {
  position: absolute;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  filter: blur(1px);
  z-index: 100;
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2),
    -0.4rem -0.4rem 0.8rem var(--white);
  background: linear-gradient(
    to bottom right,
    var(--greyLight-2) 0%,
    var(--white) 100%
  );
  animation: waves 4s linear infinite;
}

.wave2 {
  position: absolute;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  filter: blur(1px);
  z-index: 100;
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2),
    -0.4rem -0.4rem 0.8rem var(--white);
  animation: waves 4s linear 2s infinite;
}

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

h1 {
  text-align: center;
  font-size: 2.7rem;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 215px;
}

.settings-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}

.settings-inputs input[type="number"] {
  background: var(--greyLight-1);
  color: var(--font-color);
  box-shadow: var(--box-shadow);
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  font-size: 4rem;
}

input[type="number"]:focus {
  outline: var(--font-color) solid 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  color: var(--font-color);
  opacity: 1;
}

.start-button {
  position: relative;
  margin-top: 20px;
  width: 100%;
  padding: 25px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  border: 6px solid var(--font-color);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.start-button::after {
  content: "";
  position: absolute;
  bottom: 23px;
  left: 60px;
  width: 84px;
  height: 3.5px;
  border-radius: 5px;
  background: var(--font-color);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  transform: scaleX(0%);
  transition: transform 0.1s ease-in-out;
}

.start-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 0 var(--font-color);
}

.start-button:hover::after {
  transform: scaleX(100%);
}
